  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
  }

  .userContainer {
    background-color: #550065;
    padding: 24px;
    border-radius: 24px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin: 12px;
    flex: 5;
    height: 80vh;
  }

  .matchesContainer {
    flex: 15;
    height: 80vh;
    background-color: #fff;
    padding: 24px;
    border-radius: 24px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin: 12px;
    overflow-y: scroll;
    border: solid 2px #333
  }

  .matchContainer {
    background-color: #550065;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 48px;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }

  .nation1 {
    width: 25%;
    object-fit: cover;
  }

  .matchInfo {
    width: 40%;
    text-align: center;
    color: #fff;
  }

  .nation2 {
    width: 25%;
    object-fit: cover;
  }
