@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');



  .headerContainer {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: #550065;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    z-index: 1;
    box-shadow: 0px 2px rgba($color: #000000, $alpha: 0.5);
  }

  .logo {
    color: #fff;
    margin: 24px;
    font-size: 36px;
  }

  .searchContainer {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchContainer .searchBar {
    background-color: #fff;
    width: 80%;
    padding: 12px;
    font-size: 14px;
    border-radius: 20px;
    margin-right: 12px;
  }

  .searchIcon {
    font-size: 30px;
    
    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }

  .cartIcon {
    font-size: 30px;

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin-right: 12px;
  }



  ul .loginBtn {
    font-size: 24px;
    width: 130px;
    background-color: #fff;
    color: #18A0FB;
    border: 1px solid #18A0FB;
    border-radius: 6px;
    text-align: center;
    padding: 2px;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }

  ul .registerBtn {
    font-size: 24px;
    width: 130px;
    color: #FFFFFF;
    border: 1px solid #18A0FB;
    border-radius: 6px;
    text-align: center;
    padding: 2px;
    margin-right: 20px;

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }

  .userIcon {
    font-size: 30px;
    margin-right: 48px;
  }

  .invalid {
    display: none;
  }