

.matchesSliderContainer {
    position: relative;
    top: 65px;
    margin-bottom: 48px;
  }

  .matchSlider {
    position: relative;
    display: block;
  }

  .matchesSliderContainer {
    align-items: center;
    align-content: center;
  }

  .matchesSliderContainer .matchImg {
    max-width : 100%;
  }

  .prevBtn, .nextBtn {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    cursor: pointer;
  }

  .prevBtn {
    left: 0;
  }

  .nextBtn {
    right: 0;
  }

  .prevBtn:hover , .nextBtn:hover {
    background-color: #333;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot:hover {
    background-color: #333  ;
  }

  .dotActive {
    background-color: #333  ;
  }

  .hidden {
    display: none;
  }

  .fadeAnimation {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.2;
    }

    to {
      opacity: 1;
    }
  }